Repository ubuntu/ubuntu-project-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @s-makin, @rkratky, @slyon, @setharnold, @joalif, @didrocks, @cpaelzer, @MylesJP, @pushkarnk, @basak, @enr0n, @tjaalton, @panlinux, @julian-klode, @raof, @awhitcroft, @mwhudson, @seb128, @teward, @utkarsh2102, @ginggs, @paride, @aaronprisk, @ilvipero, @schopin-pro, @lvoytek, @rbasak, @athos-ribeiro, @bdrung, @asanvaq, @cjdcordeiro

bug-triage: link to launchpad's expiration explanation
  docs/contributors/bug-triage/bug-status.md
Owners: @s-makin, @rkratky

Use intersphinx for link
  docs/contributors/bug-triage/bug-status.md
Owners: @s-makin, @rkratky

Fix version string from '3.1.3ubuntu0.1' to '3.1.2ubuntu0.1' for SRU example of native packages
  docs/how-ubuntu-is-made/concepts/version-strings.md
Owners: @s-makin, @rkratky

Correct version string in multiple releases example for SRU of Ubuntu native packages
  docs/how-ubuntu-is-made/concepts/version-strings.md
Owners: @s-makin, @rkratky

Add project slug
  docs/conf.py
Owners: @s-makin, @rkratky

Update the Starter Pack
  docs/.sphinx/update_sp.py
  docs/requirements.txt
Owners: @s-makin, @rkratky

version-strings: clarify variants of native version sru backport
  docs/how-ubuntu-is-made/concepts/version-strings.md
Owners: @s-makin, @rkratky

Remove old staging TOC ref
  docs/staging.md
Owners: @s-makin, @rkratky

MIR: request to think about impact elsewhere
  docs/MIR/mir-reporters-template.md
Owners: @slyon, @setharnold, @joalif, @didrocks, @cpaelzer, @MylesJP, @pushkarnk

version-strings: add willsync suffix for debian sync indication
  docs/how-ubuntu-is-made/concepts/version-strings.md
Owners: @s-makin, @rkratky

MIR: ensure the meeting page isn't a dead-end
  docs/MIR/main-inclusion-review.md
  docs/MIR/mir-about-the-mir-role.md
  docs/MIR/mir-team-meeting.md
Owners: @slyon, @setharnold, @joalif, @didrocks, @cpaelzer, @MylesJP, @pushkarnk

SRU: add interest group for DPDK
  docs/SRU/reference/exception-DPDK-Updates.rst
Owners: @basak, @enr0n, @tjaalton, @panlinux, @julian-klode, @raof, @awhitcroft

.github/CODEOWNERS:

# Documentation about CODEOWNERS file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Technical authors will be requested for review when someone opens a
# pull request, unless a later match takes precedence.
* @s-makin @rkratky

# MIR team PR approvals
# - TAs not required for MIR content approvals
MIR/
# - MIR team owns all MIR docs anywhere in the repo
MIR/ @slyon @setharnold @joalif @didrocks @cpaelzer @MylesJP @pushkarnk

# SRU team PR approvals
# - TAs not required for SRU content approvals
SRU/
# - SRU team owns all SRU docs anywhere in the repo
SRU/ @basak @enr0n @tjaalton @panlinux @julian-klode @raof @awhitcroft

# Technical Board PR approvals
# - TAs not required for Tech Board content approvals
tech-board/
# - Tech Board owns all TB docs anywhere in the repo
tech-board/ @basak @mwhudson @seb128 @teward

# Release team PR approvals
# These files have no prefix, so are collected into the release-team dir(s)
release-team/ @utkarsh2102 @ginggs @paride

# Community team PR approvals
# These files have no prefix, and are all collected into the `docs/community` dir
community/ @aaronprisk @ilvipero

# AA team PR approvals
# These files are prefixed with "aa-", but not kept in a specific directory
**/aa-*.md @panlinux @cpaelzer @paride @ginggs @schopin-pro @mwhudson @utkarsh2102 @tjaalton @seb128 @raof

# DMB team PR approvals
# Like the AA team, these files are prefixed with "dmb-" but not kept in a specific directory
**/dmb-*.md @cpaelzer @lvoytek @rbasak @utkarsh2102 @athos-ribeiro @bdrung @julian-klode

# TAs' & special teams' ack required for changes to the CODEOWNERS file
/.github/CODEOWNERS @s-makin @rkratky @slyon @setharnold @joalif @didrocks @cpaelzer @MylesJP @pushkarnk @panlinux @paride @ginggs @schopin-pro @mwhudson @utkarsh2102 @tjaalton @seb128 @raof @aaronprisk @ilvipero @basak @teward @enr0n @julian-klode @awhitcroft

# +1 maintenance PR approvals
plus-one-*.md @schopin-pro @s-makin @rkratky

# Rocks team page PR approvals
rocks-team.md @asanvaq @cjdcordeiro
