Repository ubuntu/ubuntu-project-docs, pull requests merged in 2025-06, with the labels that each got.

#38 Adding MIR PR approvals requirement to CODEOWNERS
  .github/CODEOWNERS
Labels: enhancement

#54 Improve some Sphinx config
  docs/conf.py
  docs/how-to/contribute-docs.md
  docs/requirements.txt
Labels: enhancement

#55 Fix non-inclusive terms
  docs/staging/germinate.md
  docs/staging/package-archive.md
  docs/staging/push-mirroring.md
Labels: bug

#65 Restructure MIR docs to fit new schema
  docs/MIR/main-inclusion-review.md
  docs/contributors/advanced/plus-one-maintenance.md
  docs/contributors/index-advanced.md
  docs/how-ubuntu-is-made/index-processes.md
  docs/maintainers/index-MIR.md
  docs/who-makes-ubuntu/about-processes/index-MIR.md
  docs/who-makes-ubuntu/about-roles/index-MIR.md
  docs/who-makes-ubuntu/index-roles.md
Labels: MIR
