Repository ubuntu/ubuntu-project-docs, pull requests merged in 2025-07, with the labels that each got.

#74 MIR: mention check-mir for dependency validation
  docs/MIR/mir-reporters-template.md
Labels: MIR

#103 Mir states position
  docs/MIR/main-inclusion-review.md
  docs/MIR/mir-process-states.md
  docs/maintainers/index-MIR.md
Labels: MIR

#102 MIR: make roles interconnected with about-mir-roles
  docs/MIR/mir-roles-and-steps.md
  docs/who-makes-ubuntu/about-roles/index-MIR.md
Labels: MIR

#123 Improve contribution guidance
  docs/contributors/contribute-docs.md
  docs/contributors/index.md
Labels: documentation, enhancement

#124 Upgrade Starter Pack to 1.2.0
  docs/.custom_wordlist.txt
  docs/.sphinx/.pymarkdown.json
  docs/.sphinx/get_vale_conf.py
  docs/.sphinx/metrics/build_metrics.py
  docs/.sphinx/metrics/build_metrics.sh
  docs/.sphinx/update_sp.py
  docs/.sphinx/version
  docs/Makefile
  docs/conf.py
  docs/requirements.txt
Labels: enhancement

#128 Fix build, spelling, and links
  docs/.custom_wordlist.txt
  docs/contributors/bug-fix/bug-fixing-checklist.md
  docs/contributors/patching/committing-changes.md
  docs/contributors/testing/package-tests.md
  docs/how-ubuntu-is-made/concepts/glossary.md
  docs/how-ubuntu-is-made/concepts/version-strings.md
  docs/how-ubuntu-is-made/index-concepts.md
  docs/how-ubuntu-is-made/index-processes.md
  docs/how-ubuntu-is-made/processes/proposed-migration.md
  docs/how-ubuntu-is-made/processes/sync-process.md
  docs/who-makes-ubuntu/joining/membership-in-MOTU.md
  docs/who-makes-ubuntu/joining/membership-in-packageset.md
  docs/who-makes-ubuntu/joining/path-to-upload-rights.md
Labels: bug, documentation, enhancement
