Repository ubuntu/ubuntu-project-docs, pull requests merged in 2025-08, with the labels that each got.

#145 Proposed migration; first take
  docs/.custom_wordlist.txt
  docs/conf.py
  docs/contributors/advanced/resolve-a-migration-issue.md
  docs/contributors/advanced/review-a-merge-proposal.md
  docs/contributors/advanced/sponsor-an-upload.md
  docs/contributors/bug-fix/fix-a-bug-in-a-package.md
  docs/contributors/bug-fix/package-tests.md
  docs/contributors/index-advanced.md
  docs/contributors/index-bug-fix.md
  docs/contributors/index.md
  docs/contributors/new-package/upload-packages-to-ppa.rst
  docs/how-ubuntu-is-made/concepts/glossary.md
  docs/how-ubuntu-is-made/index-processes.md
  docs/how-ubuntu-is-made/processes/automatic-package-testing-autopkgtest.rst
  docs/how-ubuntu-is-made/processes/backports.rst
  docs/how-ubuntu-is-made/processes/merges-and-syncs.rst
  docs/how-ubuntu-is-made/processes/proposed-migration.md
  docs/how-ubuntu-is-made/processes/proposed-migration/autopkgtest-regressions.md
  docs/how-ubuntu-is-made/processes/proposed-migration/failure-to-build-from-source-ftbfs.md
  docs/how-ubuntu-is-made/processes/proposed-migration/index.md
  docs/how-ubuntu-is-made/processes/proposed-migration/issues-preventing-migration.md
  docs/how-ubuntu-is-made/processes/proposed-migration/special-migration-cases.md
  docs/how-ubuntu-is-made/processes/transitions.md
  docs/requirements.txt
  docs/reuse/links.txt
  docs/who-makes-ubuntu/joining/membership-in-core-dev.md
  docs/who-makes-ubuntu/joining/membership-in-packageset.md
Labels: documentation, enhancement

#150 Remove 'How to' from navig for consistency
  docs/contributors/index-advanced.md
Labels: enhancement

#151 Make linkcheck run only weekly
  .github/workflows/automatic-doc-checks.yml
  .github/workflows/doc-checks.yml
  .github/workflows/link-check.yaml
Labels: enhancement

#153 Fix workflows, second attempt :/
  .github/workflows/doc-checks.yml
  .github/workflows/link-check.yaml
Labels: bug

#154 More workflow fixes
  .github/workflows/doc-checks.yml
  .github/workflows/link-check.yaml
Labels: bug

#104 MIR: explain when a MIR is needed
  docs/.custom_wordlist.txt
  docs/MIR/main-inclusion-review.md
Labels: MIR
